/* селектор * применяется ко всем элементам */

* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background-color: white;
    width: 420px;
    padding: 20px;
    border-radius: 30px;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.avatar {
    width: 120px;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
    transition: all 0.3s ease;
}

.avatar:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(103, 126, 234, 0.4);
}

h1 {
    font-size: 28px;
    font-weight: 700;
    color: #764ba2;
    margin-bottom: 10px;
}

.title {
    color: #718096;
    font-size: 18px;
    font-weight: 500;
    /* текст скрыт */
    width: 0;
    /* чтобы width работало с текстом */
    display: inline-block;
    /* скрывает текст за пределами блока */
    overflow: hidden;
    /* запрещает перенос текста на новую строку */
    white-space: nowrap;
    /* курсор */
    border-right: 3px solid #764ba2;
    animation: typing 4s steps(40, end) infinite, cursor 0.8s steps(1, end) infinite;
}

/* расширяет элемент от текущей ширины до 50% ширины родителя */
@keyframes typing {
    to {
        width: 50%;
    }
}

@keyframes cursor {
    from, to{
        /* прозрачный */
        border-color: transparent;
    }
    50%{
        border-color: #764ba2;
    }
}

.description{
    color: #4a5568;
    line-height: 1.6;
    font-size: 16px;
    margin-bottom: 30px;
    text-align: center;
}

.stats{
    display: flex;
    justify-content: space-around;
    background-color: rgba(102, 126, 234, 0.05);;
    border: 1px solid rgba(102, 126, 234, 0.1);
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 30px;
}

.experiance{
    text-align: center;
}

.experiance-number{
    display: block;
    font-size: 26px;
    font-weight: 700;
    color: #667eea;
    margin-bottom: 5px;
}

.experiance-label{
    font-size: 20px;
    color: #718096;
}

h2{
    font-size: 20px;
    font-weight: 600;
    color: #2d3748;
    text-align: center;
    margin-bottom: 30px;
}

ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    margin-bottom: 30px;
}

li{
    background: linear-gradient(135deg, #667eea, #764ba2);
    padding: 15px 30px;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 4px 12px rgba(102, 126, 234, 0.3);
    transition: all 0.3s ease;
}

li:hover{
    transform: translateY(-2px);
}

.link-project{
    color: #667eea;
    text-decoration: none;
    background-color: rgba(102, 126, 234, 0.1);
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
    padding: 12px 0;
    border-radius: 10px;
    transition: all 1s;
}

.link-project:hover{
    background-color: #764ba2;
    color: white;
}

/* смартфоны - 320px, 480px и более
планшеты - 768px и более
нетбуки - 1024px и более
мониторы - 1280px, 1600px, 1920px и более */

@media (max-width: 480px){
    .card{
        padding: 10px;
    }
    h1{
        font-size: 24px;
    }
    .stats{
        justify-content: center;
        gap: 20px;
    }
}